<div class='login-box'>  
  <%= form_tag('/login', method: 'post') do %>
    <br>
    <%= label_tag :name %>
    <%= text_field_tag :name %><br><br>
    <%= label_tag :password %>
    <%= password_field_tag :password %><br><br>
    <%= submit_tag 'Login' %><br><br>
  <% end %>

  <%= link_to 'Signin with Github', '/auth/github' %><br><br>
</div>