<%= render 'errors' %>
<div class='new-form'>
  <br>
  <%= form_for(@user) do |f| %>
    <br><div class='textfield'><%= f.label :name%>
    <%= f.text_field :name %></div><br>
    <div class='textfield'><%= f.label :email %>
    <%= f.text_field :email%></div><br>
    <div class='textfield'><%= f.label :password %>
    <%= f.password_field :password %></div><br>
    <div class='textfield'><%= f.label :password_confirmation %> 
    <%= f.password_field :password_confirmation %></div><br>
    <%= f.submit "Sign Up" %><br><br>
  <% end %>

  <%= link_to 'Signup with Github', '/auth/github' %><br><br>
</div>