<div class='comments'>
  <% if @project.comments.empty? %>
    There are currently no comments!
  <% else %>
    <% @project.comments.each do |comment| %>
    <div class='commentbox'>
      <div class='comment'><%= comment.content %></div>
      <div class='commenter'><%= comment.commenter.name%></div>
      <% if current_user.id == comment.commenter_id %>
      <div class='edit-box'>
        <div class ='edit-comment'>
          <%= link_to "Edit", edit_comment_path(comment) %>  
        </div>
        <div class='deletebtn'>
          <%= link_to "Delete", comment, method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
</div>
<% end %>
<div class='comment-form'>
  <% if current_user %>
    <%= form_for(@comment) do |f| %>
      <%= f.text_area :content, placeholder: "Write your comment here!" %>
      <%= f.hidden_field :commenter_id, value: current_user.id  %>
      <%= f.hidden_field :project_id, value: @project.id %>
      <%= f.submit "Enter" %>
    <% end %>
  <% else %>
    <%= link_to "Login to add a comment!", login_path %>
  <% end %>
</div>