<%= render 'sidewoform' %>
<%= render 'errors' %>
<div class='new-form'>
  <%= form_for(@project) do |f| %>
  <br>
    <%= f.text_field :title, :value => "#{@project.title}" %><br>
    <%= f.text_area :content, :value => "#{@project.content}" %><br>
    <%= f.text_field :translation_title %><br>
    <%= f.text_area :translation%><br>
    <%= f.submit "Save" %><br><br>
  <% end %>
</div>

<%= render 'commentwoform' %>

