<!DOCTYPE html>
<html>
  <head>
    <title>Benkyou</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class='topnav'>
    <a href='/'>Home</a>
    <% if !current_user %>
      <a href='/login'>Login</a>
      <a href='/signup'>Signup</a>
    <% elsif current_user %>
      <div class='topnav-dropdown'>
        <p class='dropbox'><%= current_user.name%></p>
          <div class='dropcontent'>
            <a href='/users/<%= current_user.id%>'>My Page</a>
            <a href='/users/<%= current_user.id%>/words'>My Words</a>
            <a href='/users/<%= current_user.id%>/projects'>My Projects</a>
          </div>
      </div>
    <% elsif current_user.admin %>
      <a href='/admin'>Admin</a>
    <% end %>
    <a href='https://jisho.org/' target='_blank'>Jisho</a>
  </div>
    <%= yield %>
  </body>
</html>
